[Unit]
Description=Gaia Exporter
After=network-online.target

[Service]
User=root
ExecStart={{ gaia_binary_dest_path }}/gaiad-exporter -port="{{ gaia_exporter_port }}" -metrics-path="{{ gaia_exporter_metrics_path }}" -gaiad-bin-path="{{ gaia_binary_dest_path }}/gaiad"
Restart=always
RestartSec=15

[Install]
WantedBy=multi-user.target
